<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Social Watch" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://social-watch.herokuapp.com" />
  <meta property="og:site_name" content="Social Watch" />
  <meta property="og:description" content="Social Watch app" />
  <meta property="fb:app_id" content="226234137573574" />

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <title>Social Watch</title>
</head>
<body>

<!-- Facebook JavaScript -->
<div id="fb-root"></div>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Social Watch</a>
    </div>
  </div>
</nav>

<div class="container">
  <h2>Stories</h2>

  <table class="table table-bordered table-striped">
    <% for (var i=0; i<messages.length; i++) { %>
    <tr>
      <td>
        <p class="<%= messages[i].isFlagged ? 'alert alert-danger' : '' %>">
          <%= messages[i].message %>
        </p>
      </td>
    </tr>
    <% } %>
  </table>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
